language: python

python:
  - 3.4
  - 3.5
  - 3.6
  - pypy3

install:
  - pip install poetry
  - poetry install -v

script:
  - poetry run detox -vv

after_success:
  - pip install python-coveralls
  - coveralls

notifications:
  email:
    on_success: change
    on_failure: change
