[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true

[dev-packages]
flake8 = '*'
black = '*'
isort = '*'
pytest = '*'
pytest-cov = '*'
python-coveralls = '*'
tox = '*'
pipenv-to-requirements = '*'
sphinx = '*'
sphinx-autobuild = '*'
twine = '*'
{% if cookiecutter.use_pypi_deployment_with_travis == 'y' %}
cryptography = '*'
PyYAML = '*'
{% endif %}

[packages]
